div.file-attachments {
  clear: both;
}

div.file-attach-container {
  clear: both;
  padding: 2px;
}

div.file-attach-show {
  padding: 5px;
  border: 1px solid grey;
}

a.file-attach-download-button, a.file-attach-preview-button {
  margin-right: 5px;
}

